<!DOCTYPE html>
<html>
<head>

    <title>DSA Lane Chat</title>

    <style>

        body{
            font-family: Arial;
            background:#1e1e1e;
            color:white;
        }

        #chat{
            height:300px;
            border:1px solid gray;
            padding:10px;
            overflow-y:scroll;
            margin-bottom:10px;
        }

        #msg{
            width:80%;
            padding:10px;
        }

        button{
            padding:10px;
        }

    </style>

</head>

<body>

<h2>DSA Lane - Chat</h2>
<h3>Welcome, <span id="userName"></span></h3>
<p>Level: <span id="userLevel"></span></p>
<button onclick="logout()">Logout</button>

<div id="chat"></div>

<input id="msg" placeholder="Type message...">
<button id="sendbutton">Send
</button>
<script>
    window.username = localStorage.getItem("username") || "Guest";
    window.level = localStorage.getItem("level") || "Intermediate";
</script>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/chat.js"></script>

<script>

    const button =document.getElementById("sendbutton");
    const input = document.getElementById("msg")
    button.addEventListener("click",function(input){
        sendMessage(input);
    });
    input.addEventListener("keydown",function(event){
        if(event.key==="Enter"){
            sendMessage(input);
        }
    })


</script>
<script>
    document.getElementById("userName").innerText = window.username;
    document.getElementById("userLevel").innerText = window.level;
</script>
<script>
function logout(){
    localStorage.clear();
    window.location.href = "/login";
}
</script>

</body>
</html>
